/* ==================== TOUR SECTION ==================== */
/* Sección principal */
.tour-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: var(--primary-color); /* Fondo verde */
    padding: 120px;
    min-height: 600px; /* altura minima de la seccion tour*/
    position: relative;
  }
  
  
  .tour-summary__line--top {
    position: absolute;
    top: -10px; 
    left: 0%;
    width: 300px; /* Longitud de la línea */
    height: 2px;
    background-color: var(--background-color);
    transform: rotate(30deg); /* Cambia el ángulo de la linea */
    transform-origin: left; /* Fija el punto de rotación al inicio */
  }
  
  .tour-summary__line--bottom {
    position: absolute;
    bottom: 200px; 
    left: 0%; /* Ajusta para mover horizontalmente */
    width: 400px; /* Longitud de la línea */
    height: 2px;
    background-color: var(--background-color);
    transform: rotate(35deg); /* Misma dirección */
    transform-origin: left; /* Fija el punto de rotación al inicio */
  }
  
  
  .tour-summary__line--vertical {
    position: absolute;
    bottom: -20px; /* Ajusta la posición vertical */
    left: 10%; /* Ajusta para posicionarla junto a la línea inferior */
    width: 2px; /* Anchura de la línea vertical */
    height: 105px; /* Altura de la línea */
    background-color: var(--background-color);
    transform: rotate(0deg); /* Sin rotación, posición vertical */
  }
  
  /* Columna izquierda */
  .tour-summary__left {
    text-align: left;
  }
  
  .tour-summary__title {
    font-size: 4rem; /*tamaño del titulo*/
    font-weight: bold; /*negrita al ttulo*/
    line-height: 1.2; /*espaciado entre lineas*/ 
    text-align: left;
    color: var(--background-color);
    margin-bottom: 20px;
    word-break: break-word; /*permite dividir las palabras grandes donde sea nescesario*/
    margin-top: 50px;
  }
  
  .tour-summary__description {
    font-size: 1em;
    line-height: 1.6;
    color: var(--background-color);
  }
  
  /* Columna derecha */
  .tour-summary__right {
    text-align: justify;
  }
  
  .tour-summary__event {
    margin-bottom: 30px;
  }
  
  .tour-summary__date {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--background-color);
    display: block;
    margin-bottom: 10px;
  }
  
  .tour-summary__details {
    font-size: 0.9em;
    line-height: 1.6;
    color: var(--background-color);
  }
  
  .tour-summary__divider {
    border: none;
    height: 2px;
    background-color: var(--background-color);
    margin-top: 15px;
  }
  
 